* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text-primary);
  transition: background 0.4s ease, color 0.4s ease;
    position: relative;
  overflow-x: hidden;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background: var(--bg-animated);
  background-size: 200% 200%;
  animation: subtleMove 25s ease infinite;
  opacity: 0.6;
   filter: blur(40px);
  
}

:root {
  --bg: #f8fafc;
  --card-bg: #ffffff;

  --text-primary: #0f172a;
  --text-secondary:#475569;
  --text-muted:#64748b;

  --accent: #6366f1;
  --tag-bg: rgba(99,102, 241, 0.08);
  --tag-border: rgba(99, 102, 241, 0.2);
  --tag-text: var(--text-secondary);

  --bg-animated: linear-gradient(
  120deg,
  #e0f2fe,
  #f0f9ff,
  #e0f2fe
);

}

body.dark {
  --bg: radial-gradient(circle at top left, #1e293b, #0f172a);
  --card-bg: #1e293b;
  --text-primary: #f1f5f9;
  --text-secondary: #cbd5e1;
  --text-muted: #94a3b8;

  --accent: #818cf8;
  --tag-bg: rgba(129, 140, 248, 0.15);
  --tag-border: rgba(129, 140, 248, 0.4);
  --tag-text: var(--text-secondary);

  --bg-animated: linear-gradient(
  120deg,
  #0f172a,
  #1e1b4b,
  #0f172a
);

}
body:not(.dark){
  background: linear-gradient(120deg, #e0f2fe, #f5f3ff, #fef3c7);
  background-size: 200% 200%;
  animation: gradienteBg 10s ease infinite;
}
body.dark .avatar {
  box-shadow: 0 0 25px rgba(129, 140, 248, 0.3);
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.card {
  background: var(--card-bg);
  padding: 2.5rem;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  position:relative;
}

.avatar-placeholder {
  width: 120px;
  height: 120px;
  margin: 0 auto 1.5rem;
  border-radius: 50%;
  background: linear-gradient(135deg, #6366f1, #22d3ee, #a855f7);
  background-size: 200% 200%;
  animation: gradientMove 6s ease infinite;
}

.avatar{
  width: 120px;
  height: 120px;
  margin: 0 auto 1.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid var(--accent);
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.name {
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
}

.role {
  color: var(--text-muted);
  font-weight: 400;
  opacity: 0.8;
  margin-bottom: 1rem;
}

.tags {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  padding:0.4rem 0.8rem;
  border-radius:999px;
  font-size:0.8rem;

  background:rgba(99,102, 241, 0.08);
  border: 1px solid rgba(99, 102, 241, 0.2);
  color: var(--text-secondary);
 
}
.tag {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background: var(--tag-bg);
  border:1px solid var(--tag-border);
  color: var(--tag-text);
  padding: 0.4rem 0.8rem;
  border-radius: 999px;
  font-size: 0.8rem;
}
.tag svg{
  color: var(--accent);
}

.highlights {
  color: var(--text-muted);
  list-style: none;
  margin-bottom: 1.5rem;
}

.highlights li {
  margin-bottom: 0.5rem;
  opacity: 0.9;
}

.contact {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 0.9rem;
  opacity: 0.8;
}
.contact-item {
  color: var(--text-secondary);
  transition: color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  text-decoration: none;
}

.contact-item:hover {
  color: var(--accent);
  transform: scale(1.05);
  opacity: 1;
}

.theme-toggle{
  background:none;
  border:none;
  cursor:pointer;
  color: var(--text-secondary);
  position:absolute;
  top:1rem;
  right:1rem;
  transition:color 0.3 ease, transform 0.2 ease;
}
.theme-toggle:hover{
  color:var(--accent);
  transform:scale(1.1);
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradientBg{
  0%{
    background-position:0% 50%;
  }
  50%{
    background-position:100% 50%;
  }
  100%{
    background-position:0% 50%;
  }
}
@keyframes subtleMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

